<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css"
  rel="stylesheet"
/>

  </head>

  <body class="font-['helvetica_now_display']">
    <nav class="w-full  flex justify-between px-5 py-3 bg-zinc-500">
      <a href="/" class="text-xl font-bold">ShopNest</a>
      <% var loggedin = typeof loggedin !== "undefined" ? loggedin: true%>
      <% if(loggedin){ %>
      <div>
        <a class="font-bold mr-4" href="/shop">Shop</a>
        <a class="font-bold mr-4" href="/cart">Cart</a>
        <a class="font-bold mr-4" href="">My Account</a>
        <a class="text-red-600" href="/users/logout">Logout</a>
      </div>
        <% } %>

    </nav>
  </body>
</html>
